
 .code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  color: rgb(102, 41, 41);
  background: #7dbcea;
}
[data-theme="dark"] .ant-layout-header {
  background: #6aa0c7;
}
[data-theme="dark"] .ant-layout-footer {
  background: #6aa0c7;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-sider {
  color: #fff;
  line-height: 120px;
  background: #cb3510;
}
[data-theme="dark"] .ant-layout-sider {
  background: #cb3510;
}
.ant-layout-content {
  min-height: 120px;
  color: #fff;
  line-height: 711px;
  background: #1586bb63;
}
[data-theme="dark"] .ant-layout-content {
  background: #cb3510;
}
.code-box-demo > .ant-layout + .ant-layout {
  margin-top: 48px;
}
.ant-layout-header{
  background-color: rgb(74, 123, 124)!important;
}
/* body {
  background-color: #917d90!important;
} */


.code-box-demo p {
  margin: 0;
}
.ant-card { margin-bottom: 30px; }